@import url('https://fonts.googleapis.com/css?family=Roboto');


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* --blue-color: #3a4660;
	--tan-color: #c9af98;
	--kreme-color: #ed8a63;
	--brown-color: #845007; */
	--off-white-color: #f9f9f9;
	--powder: #bfd8d2;
	--peach: #fedcd2;
	--warm: #df744a;
	--lemon: #dcb239;
	--nav-font-color: #808080 ;
	--nav-font: 'Roboto', sans-serif;
}

/********** General Recurring Values **********/
/**********                          **********/

body {
	font-family: var(--nav-font);
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

h1 {
	margin: 0;
}

nav li {
	text-transform: uppercase;
}

nav li {
	font-family: var(--nav-font);
}

.image-container {
	width: 100%;
	height: 40vh;
}

.image-content-container {
	width: 80%;
	margin: auto;
}

.image-content-container h2 {
	color: white;
	margin: 40px 0;
	font-size: 2rem;
}

.image-content-container p {
	color: var(--nav-font-color);
	line-height: 2rem;
}

.tech-used {
	font-weight: bold;
	font-style: italic;
	margin-top: 20px;
}

.project-title {
	color: white;
	margin: 40px 0;
	text-transform: uppercase;
}

.button-container {
	display: inline-block;
	border: 1px solid white;
	border-radius: 20px;
	margin: 40px 0;
}

.button-container a {
	color: white;
}
.button-container h3 {
	text-transform: uppercase;
	text-align: center;
	padding: 10px;
}

@media only screen and (min-width: 475px) {

	.image-content-container .button-container {
		width: 200px;
		margin-top: 40px;
	}
}

@media only screen and (min-width: 980px) {

	.content-container {
		display: flex;
		height: 40vh;
	}

	.image-container {
		height: 40vh;
		width: 35vw;
	}

	.image-content-container {
		width: 65vw;
		margin: auto;
	}
	.image-content-container div {
		width: 90%;
		margin: auto;
	}

}

@media only screen and (min-width: 1280px) {


	.content-container {
		width: 80vw;
		height: 40vh;
		float: right;
	}

}


/********* Navigation **********/
/*********            **********/


header {
	display: none;
}


/***** Media Queries for Navigation *****/

@media only screen and (min-width: 735px) {

		header {
			display: block;
			background-color: var(--off-white-color);
			height: 60px;
			position: fixed;
			width: 100%;
		}

		nav ul {
			text-align: center;
		}
		nav ul li {
			display: inline-block;
			line-height: 60px;
			margin: 0 40px;
		}

		nav ul li a {
			color: var(--nav-font-color);
			padding-bottom: 8px;
			border-bottom: 2px solid;
			border-bottom-color: var(--nav-font-color);
			transition: border-bottom-color 1s;
			transition: color 1s;
		}

		nav ul li a:hover {
			color: var(--warm);
			border-bottom-color: var(--warm);
		}
}

@media only screen and (min-width: 1280px) {

	/* changes nav from top to side */
	.header-landing {

	}

	header {
		height: 100vh;
		width: 20vw;
		position: fixed;
		float: left;
	}

	nav ul {
		text-align: right;
		margin-top: 30vh;
	}

	nav ul li {
		margin-top: 50px;
		display: block;
	}
}

/**********  Landing Page *********/
/**********               *********/

.landing-page {
	/* background-color: var(--powder); */
	background: url('images/pineapple.jpg') center center;
	background-size: cover;
	height: 70vh;
}

.landing-flex-container {
	display: flex;
	height: 70vh;
	align-items: center;
	justify-content: center;

}

.landing-flex-container div {
	width: 80%;
	text-align: center;
}

/* .button-container {
	display: inline-block;
	border: 1px solid white;
	border-radius: 20px;
	margin-top: 40px;
} */

.landing-flex-container div h2 {
	padding-bottom: 20px;
	color: white;
}

.landing-flex-container div p {
	line-height: 1.5rem;
	padding-bottom: 20px;
	color: var(--nav-font-color);
}

/* .button-container h3 {
	text-transform: uppercase;
	text-align: center;
	padding: 10px;
} */

/* .button-container a {
	color: white;
} */


/***** Media Queries *****/


@media only screen and (min-width: 475px) {

			.landing-flex-container div {
				text-align: left;
			}

			.landing-flex-container div div {
				width: 200px;
			}

}

@media only screen and (min-width: 760px) {
	.landing-page {
		height: 90vh;
	}
	.landing-flex-container {
		height: 90vh;
	}
	.landing-flex-container div div {
		text-align: center;
	}
	.landing-flex-container div h3 {
		display: inline-block;

	}
	.landing-flex-container div h2 {
		font-size: 2.5rem;
	}

	.landing-flex-container div p {
		font-size: 1.2rem;
	}

	.landing-page div h3::before,
	.landing-page div h3::after {
			display: none;
	}
}

@media only screen and (min-width: 1000px) {
	.landing-flex-container div h2 {
		font-size: 3rem;
	}

	.landing-flex-container div p {
		font-size: 1.5rem;
	}

}

@media only screen and (min-width: 1280px) {
	.landing-page {
		height: 100vh;
		width: 80vw;
		float: right;
	}

	.landing-flex-container {
		height: 100vh;
	}
}

/********** About Page **********/
/**********            **********/


.about-content {
	background-color: var(--powder);
	padding-bottom: 50px;
}

.about-content .image-container {
	background: url('images/image1.jpeg') center top;
	background-size: cover;
}



/********** Meida Queries **********/

@media only screen and (min-width: 760px) {

	/* .about-content {
		display: flex;
		height: 60vh;
	}
	.about-image-container {
		height: 100%;
		width: 40vw;
	} */


}

/********** Portfolio Page **********/
/**********                **********/

.portfolio-content:nth-child(even) {
	background-color: var(--powder);
}

.portfolio-content:nth-child(odd) {
	background-color: #bfd1d2;
}

.portfolio-content .image-container {
	background: url('images/pineapple.jpg') center top;
	background-size: cover;
}

/********** Technologies I know page *********/
/**********                          *********/

.technology-knowledge-section {
	background-color: var(--lemon);
}

.knowledge-container {
	width: 80%;
	margin: auto;

}

.knowledge-title h2 {
	padding: 40px 0 20px 0;
	color: white;
}

.knowledge-title p {
	margin-bottom: 40px;
	color: var(--nav-font-color);
}

.knowledge-content {
	border: 1px solid white;
	border-radius: 5px;
	background-color: rgba(255,255,255, 0.2);

}

.knowledge-content-wrapper {
	width: 90%;
	margin: auto;

}

.knowledge-content-wrapper h3 {
	margin: 40px 0;
	color: white;
}

.knowledge-content-wrapper p {
	margin-bottom: 40px;
	text-transform: uppercase;
	color: var(--nav-font-color);
}

/********* Media Queries ********/

@media only screen and (min-width: 1280px) {

	.technology-knowledge-section {
		width: 80vw;
		float: right;
	}

}
