@import url('https://fonts.googleapis.com/css?family=Roboto');


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	--blue-color: #3a4660;
	--tan-color: #c9af98;
	--kreme-color: #ed8a63;
	--brown-color: #845007;
	--off-white-color: #f9f9f9;
	--nav-font: 'Roboto', sans-serif;
}

body {
	font-family: var(--nav-font);
}

section {
	height: 100vh;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

h1 {
	margin: 0;
}

nav h3,
nav li {
	text-transform: uppercase;
}

nav h3,
nav h6,
nav li {
	font-family: var(--nav-font);
}

.blue {
	color: var(--blue-color);
}

.hide{
	max-height: 115px;
}


/********* Navigation **********/
/*********            **********/


header {
	background-color: var(--tan-color);
}
nav {
	/* padding-bottom: 5%; */
}

nav ul {
	text-align: center;
	max-height: 0;
	margin-top: 5%;
	overflow: hidden;
	transition: max-height 0.5s;
}

nav a {
	color: white;
	padding: 1em;
}

nav li {
	background-color: var(--blue-color);
	color: white;
	padding: 10px;
	border-bottom: 1px solid white;
}

nav li:last-child {
	border-bottom: none;
}

/* container for design, name, title in nav bar */
.nav-info-container {
	position: relative;
	padding: 5% 0 0 5%;
}

.nav-name-title {
	display: inline-block;
}

/* simple design in nav menu  */
.nav-design {
	display: inline-block;
	width: 32px;
	height: 32px;
	border: 5px solid var(--blue-color);
	border-radius: 50%;
}

/* hamburger menu container */
.menu-toggle-container {
	position: absolute;
	right: 5%;
	top: 3%;
	height: 25px;
	width: 35px;
}

/* hamburger menu  */
.hamburger-menu,
.hamburger-menu::before,
.hamburger-menu::after {
	content: ' ';
	display: block;
	height: 3px;
	width: 100%;
	border-radius: 5%;
	background-color: var(--blue-color);
}

.hamburger-menu::before {
	position: absolute;
	bottom: 0;
}
.hamburger-menu::after {
	position: absolute;
	top: 45%;
}

/***** Media Queries for Navigation *****/

@media only screen and (min-width: 760px) {

	.menu-toggle-container {
		display: none;
	}

	nav {
		position: relative;
	}

	nav a {
		color: var(--blue-color);
	}

	nav ul {
		max-height: 100px;
		position: absolute;
		right: 0;
		top: 40px ;
		margin-top: 0;
		overflow: hidden;
	}

	nav li {
		display: inline-block;
		background-color: var(--tan-color);
		padding: 0;
		border-bottom: none;
		padding-right: 25px;
		margin-right: 25px;
	}

	nav li:last-child {
		padding: 10px;
		border: 2px solid var(--blue-color);
	}

	.nav-info-container {
		padding: 40px;


	}

}

/**********  Landing Page *********/
/**********               *********/

.landing-page {
	background-color: var(--tan-color);
	height: 70vh;
}

.landing-flex-container {
	display: flex;
	height: 300px;
	align-items: center;
	justify-content: center;

}

.landing-flex-container div {
	width: 80%;
	text-align: center;
}

.landing-flex-container div h2 {
	padding-bottom: 20px;
}

.landing-flex-container div p {
	line-height: 1.5rem;
	padding-bottom: 20px;
}

.landing-flex-container div h3 {
	text-transform: uppercase;
	text-align: center;
}

.landing-flex-container div h3::before,
.landing-flex-container div h3::after {
	content: '';
	display: block;
	width: 10px;
	height: 1px;
	background-color: var(--blue-color);
	margin: auto;
	margin-top: 5px;
}
/* .landing-page h3 {
	text-transform: uppercase;
	text-align: center;
} */

.landing-page h3::before {
	transform: translateY(27px) translateX(-3px) rotate(45deg);
}

.landing-page h3::after {
	transform: translateX(3px) rotate(-45deg);
}

/* .landing-page h3::before,
.landing-page h3::after {
	content: '';
	display: block;
	width: 10px;
	height: 1px;
	background-color: var(--blue-color);
	margin: auto;
	margin-top: 5px;
}

/* .landing-page h3::before {
	transform: translateY(27px) translateX(-3px) rotate(45deg);
}

.landing-page h3::after {
	transform: translateX(3px) rotate(-45deg);
} */

/***** Media Queries *****/

@media only screen and (min-width: 760px) {

	.landing-flex-container div h2 {
		font-size: 2.5rem;
	}

	.landing-flex-container div p {
		font-size: 1.2rem;
	}
}
